.virtual_documents/Visualization/Untitled.ipynb
.virtual_documents/Visualization/06_Scatter_Plots.ipynb
.virtual_documents/Visualization/05_Histograms.ipynb
Visualization/.virtual_documents/04_Stack_Plots.ipynb
.virtual_documents/Visualization/07_Sub_Plots.ipynb
.virtual_documents/Visualization/09_Basic_Plots_in_Seaborn.ipynb
.virtual_documents/Data Collection Techniques/HTML Scrapping/02_Using Request_Model_for_Data_collection.ipynb
Instagram_Scrapper/.virtual_documents/Basic_Prototype.ipynb
Instagram_Scrapper/.virtual_documents/Post_Insight_Finder.ipynb
.virtual_documents/Machine Learning/First_ML_Algorithm.ipynb
.virtual_documents/Machine Learning/Untitled.ipynb
.virtual_documents/Machine Learning/First_ML_Algorithm-Copy1.ipynb
.virtual_documents/Machine Learning/Using_Different_ML_Algorithm.ipynb
.virtual_documents/Machine Learning/Finding_Accuracy.ipynb
.virtual_documents/Machine Learning/Training_ML_Algorithm_on_Iris_Dataset.ipynb
Machine Learning/.ipynb_checkpoints/Finding_Accuracy-checkpoint.ipynb
Machine Learning/Data/Iris/bezdekIris.data
Machine Learning/Data/Iris/Index
Machine Learning/Data/Iris/Index
Machine Learning/Data/Iris/iris.data
Machine Learning/Data/Iris/iris.names
Machine Learning/Data/Iris/iris.names
Machine Learning/iris.zip
Machine Learning/smartphone_data.csv
**/*.zip
.virtual_documents/Machine Learning/Housing_Regression.ipynb
.virtual_documents/Machine Learning/Creating_a_test_set.ipynb
.virtual_documents/Machine Learning/Creating_a_test_set.ipynb
Machine Learning/.ipynb_checkpoints/Stritified_shuffle_split-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/Stratified_shuffle_split-checkpoint.ipynb
.virtual_documents/Machine Learning/Stratified_shuffle_split.ipynb
.virtual_documents/Machine Learning/Stratified_shuffle_split-Copy1.ipynb
.virtual_documents/Machine Learning/Visualizing_the_data.ipynb
.virtual_documents/Machine Learning/Further_Visualizing_Data.ipynb
.virtual_documents/Machine Learning/Visualizing_the_data.ipynb
.virtual_documents/Machine Learning/Further_Visualizing_Data.ipynb
np
pipeline.pkl
Machine Learning/input.csv
Machine Learning/output_data
model.pkl
