<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LensWatch | Buy Premium Watches Online</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/static/logo.png" width="64" alt="">
            </div>
            <div class="logotext">Linux</div>
        </nav>
    </header>
    <main>

    </main>
    <footer></footer>
</body>
</html>